%h1 Find Yourself a place to stay!

- if flash[:notice]
  .alert-message.warning
    %p
      = flash[:notice]

= form_tag '/show' do

  = label :rents, :location, 'City'
  = text_field :rents, :location

  = label :rents, :findStart, 'From'
  = text_field :rents, :findStart

  = label :rents, :findEnd, 'To'
  = text_field :rents, :findEnd

  %br
  %br

  = submit_tag 'Submit'
