%h1 There it is!

%table#lots
  %thead
    %tr
      %th Location
      %th cost
      %th area
      %th floor
      %th services
      %th bookings
  %tbody
    - @rents.each do |rent|
      - number = 0
      - rent.bookings.each do |booking|
        - start = booking.startDate.to_datetime
        - end = booking.endDate.to_datetime
        - range = start..end
        - if range === @start or range === @end then
          number += 1
      -if number>1 then
        %tr
          %td= rent.location
          %td= rent.cost
          %td= rent.area
          %td= rent.floor
          %td= rent.services
          %td= rent.bookings.to_s

= link_to 'Back', rents_path
